{%extends 'base.html'%}
{%load bootstrap5%}

{%block title%} Ver Filmes {%endblock%}

{% block content %}
<h1 style="text-align: center;">Ver Filmes</h1>
<div class="container mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Gênero</th>
                <th>Ano de Lançamento</th>
                <th>Descrição</th>
                <th>Diretor</th>
            </tr>
        </thead>
        <tbody>
            {% for filme in filmes %}
            <tr>
                <td>{{ filme.titulo }}</td>
                <td>{{ filme.get_genero_display }}</td>
                <td>{{ filme.ano_lancamento }}</td>
                <td>{{ filme.descricao }}</td>
                <td>{{ filme.diretor }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Nenhum filme encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}